td {
  width: calc(15px * 6);
  height: 15px;
  border: 1px solid black;
}

#planner-view {
  background: #fff;
  background-size: 100%;
  border: 1px solid rgb(146, 146, 146)
}

#custom-planner-container {
  grid-column: 1 / 8;
  grid-row: 1 / 8;
  display: grid;
  grid-template-columns: 80px 100px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: 60px repeat(5, 1fr) 60px;
  column-gap: 20px;
}

.side-txt {
  font-family: 'KoHo', sans-serif;
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  font-size: 2rem;
  margin-top: 1rem;
}

#todo-container {
  border: 1px solid black;
  grid-column: 1 / 3;
  border-radius: 10px;
  width: 100%;
}

#todo-view-upper {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 5px 5px;
  border: 1px solid rgba(94, 94, 94, 0.212);
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #fff;
}

#custombar-container {
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 6 / 7;
  grid-row: 2 / 7;
}

#task1 {
  grid-row: 3 / 7;
}

.todo-add-btn {
  float: right;
  width: 20px;
  height: 20px;
  align-self: center;
  padding: 0;
  margin: 8px;
  font-size: 1rem;
}

.title-container {
  display: flex;
}

.add-tag-container {
  width: 100%;
  display: flex;
}

.add-tag-container > button {
  border: none;
  background: none;
}

.add-tag-container > button > i {
  text-align: center;
}

.plnnerfrom-date {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.212);
  box-shadow:
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}

.plnnerfrom-date > span {
  grid-row: 2 / 3;
  align-self: center;
}

#sticker-add-btn {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: left;
  border: none;
  background: none;
  opacity: 0.5;
}

.plnnerfrom-sticker {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  justify-self: center;
  align-self: center;
  background: #fff;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.212);
  box-shadow:
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}

.sticker-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.plnnerfrom-sticker > img {
  justify-self: center;
  align-self: center;
  grid-row: 1 / 3;
  width: 4rem;
}

#each-sticker {
  margin: 5px;
  opacity: 0.8;
  cursor: pointer;
}

#each-sticker:hover {
  opacity: 1;
}

#selected-sticker {
  width: 7rem;
  opacity: 0.8;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}

.fa-palette {
  font-size: 1.8rem;
  opacity: 0.5;
  cursor: pointer;
}

.plnnerfrom-memo {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-self: center;
  text-align: center;
  background: #fff;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.212);
  box-shadow:
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}

.plnnerfrom-memo > span {
  grid-row: 2 / 4;
  margin: 0px 10px;
  font-size: 1.1rem;
  /* align-self: center; */
}

.plnnerfrom-memo > textarea {
  grid-row: 2 / 4;
  font-size: 1.1rem;
  padding: 5px 5px;
  height: 70%;
  align-self: flex-start;
  resize: none;
}

.memo-edit-btn {
  background: rgba(0, 0, 0, 0.247);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
  outline: none;
  border: none;
}

.plnnerfrom-hour {
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-self: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 5%;
  box-shadow:
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}

.plnnerfrom-hour > span {
  grid-row: 2 / 3;
  font-size: 2rem;
  align-self: top;
}

#add-task-modal {
  background-color: #fff;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.todobar-subject-label {
  margin: 10px 5px;
}

.back-color-picker {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.back-color-picker > span {
 align-self: center;
 justify-self: left;
 cursor: pointer;
 width: 24px;
 height: 24px;
 margin: 6px;
 box-shadow: 
  0px 3px 1px -2px rgb(0 0 0 / 20%), 
  0px 2px 2px 0px rgb(0 0 0 / 14%), 
  0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.todobar-subject {
  outline: none;
  background: #fff;
  color: #2b3390;
  border: 1px solid #2b3390;
  border-radius: 8px;
  padding: 2px 2px;
  margin-right: 5px;
  width: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: border 1s ease-in-out;
}

.select-subject {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 8px;
  margin-top: 10px;
  /* height: 120px; */
}

.subject-edit-btn{
  outline: none;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

.subject-label-group {
  display: block;
}

.select-tag-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hashtags-group {
  outline: none;
  color: #1d4798;
  border: 0.6px solid #1d4798;
  background-color: #fff;
  border-radius: 8px;
  margin: 5px 0px;
  margin-right: 5px;
  padding: 3px 7px;
  font-size: 1.1rem;
}

.todobar-todo {
  width: 100%;
  height: 70px;
}

.todobar-save-btn {
  margin-top: 10px;
  font-size: 1.2rem;
  position: relative;
  color: rgb(70, 70, 70);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f8e047;
  /* background-image: linear-gradient(315deg, #faee9d 0%, #f8e047 74%); */
  border: none;
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}

.todobar-save-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #faee9d;
  /* background-image: linear-gradient(315deg, #faee9d 0%, #ffed76 74%); */
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.todobar-save-btn:hover:after {
  top: 0;
  height: 100%;
}

.writing-comment {
  margin: 5px 10px;
  width: 80%;
  height: 80px;
}

.todobar-save-btn:active {
  top: 2px;
}

.make-new-label {
  width: 100%;
  display: flex;
}

.add-label-btn {
  background: none;
  border: none;
  float: right;
}

.todobar-newsubject-input {
  width: 50%;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.color-box {
  margin: 0;
  flex-basis: 30px;
  justify-self: center;
  width: 30px;
  height: 30px;
  justify-self: center;
}

.color-box:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

.color-radio {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  flex-basis: 25%;
  justify-self: center;
}

#start-time {
  margin: 5px 5px;
}

#end-time {
  margin: 5px 5px;
}

.fa-ellipsis-h {
  font-size: 1.3rem;
  color: #2b3390;
}

.add-todo-btn {
  float: right;
  margin-top: 12px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  border: none;
}

.add-todo-btn:hover {
  color: #1d4798;
  border: none;
  transition: all 0.6s;
}

.add-todo-btn:hover:active {
  margin-top: -3px;
  transition: all 0.6s;
}

#todo-modal-upper {
  display: flex;
  width: 100%;
}

.modal-btn-container {
  text-align: center;
}

.todobar-title {
  flex-basis: 90%;
  font-size: 1.5rem;
  margin-left: 5px;
}

.close-add-btn {
  width: 2rem;
  flex-basis: 10%;
  background: none;
  border: none;
  justify-self: right;
  align-self: center;
}

.fa-plus {
  font-size: 1.2rem;
}

.fa-stopwatch {
  margin-right: 5px;
  font-size: 2rem;
}

.todo-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

.todo-delete-btn {
  float: right;
  background: none;
  outline: none;
  border:none;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  padding-top: 0;
}

.todo-edit-btn {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  /* flex-basis: 50%; */
  background: none;
  border: none;
  outline: none;
}

.empty-list-message {
  font-size: 2rem;
  text-align: center;
  margin-top: 45%;
  animation: fadeInMessage 1s;
}

.todo-checkbox {
  margin: 10px 10px;
}

.memo-edit-btn {
  width: 2.4rem;
  background: #fff;
  height: 2.4rem;
  justify-self: right;
  margin-top: 5px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.247);;
}

.memo-edit-btn:hover {
  transform: translateY(-5px);
  border: 1px solid rgba(0, 0, 0, 0.247);
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.memo-edit-input {
  outline: none;
  border: none;
  background: #faee9d75;
  height: 100%;
  margin: 0px 10px;
}

.color-label {
  flex-basis: 15%;
  border-radius: 3px;
}

.todobox-content {
  padding: 10px 15px;
  flex-basis: 90%;
  align-self: center;
}

.selected {
  background: #2b3390;
  border:none;
  color: #fff;
  font-size: 1.2rem;
  padding: 2px 2px;
  margin-right: 5px;
  transition: all 1s ease-in-out;
  
}

.selected-tag {
  background-color:  #2b3390;
  transition: all 0.6s;
  color: #fff;
}

.selected-color {
  border-radius: 50%;
  transition: all 0.5s;
}


/* animation */
@keyframes fadeIn {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to {
    margin-top: 5px;
    opacity: 1;
  }
}

@keyframes fadeInMessage {
  from {
    margin-top: 40%;
    opacity: 0;
  }
  to {
    margin-top: 45%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    margin-top: 5px;
    opacity: 1;
  }
  to {
    margin-top: -5px;
    opacity: 0;
  }
}


