td {
  width: calc(15px * 6);
  height: 15px;
  border: 1px solid black;
}

#planner-view {
  background: #fff;
  background-size: 100%;
  border: 1px solid #2b339059;
  /* min-width: 500px; */
}

#custom-planner-container {
  grid-column: 1 / 8;
  grid-row: 1 / 8;
  display: grid;
  height: 100vh;
  grid-template-columns: 80px 100px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: 60px repeat(5, 0.6fr) 60px;
  column-gap: 20px;
}

.side-txt {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  font-size: 2rem;
  margin-top: 1rem;
}

.custom-title-container {
  display: flex;
}

.custom-title-container > i {
  align-self: center;
  font-size: 3rem;
  opacity: 0.7;
  margin-right: 5%;
  flex-basis: 10%;
  color: #335296;
}

.custom-planner-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  flex-basis: 90%;
  margin-bottom: 0;
  color: #335296;
  align-self: center;
  font-weight: 500;
}

#todo-container {
  border: 1px solid black;
  grid-column: 1 / 3;
  border-radius: 10px;
  width: 100%;
}

#todo-view-upper {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 5px 5px;
  border: 1px solid rgba(94, 94, 94, 0.212);
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #fff;
}

#custombar-container {
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 6 / 7;
  grid-row: 2 / 7;
}

#task1 {
  grid-row: 3 / 7;
}

.todo-add-btn {
  float: right;
  width: 20px;
  height: 20px;
  align-self: center;
  padding: 0;
  margin: 8px;
  font-size: 1rem;
}

.title-container {
  display: flex;
}

.add-tag-container {
  width: 100%;
  display: flex;
}

.add-tag-container > input {
  flex-basis: 70%;
  width: 70%;
}

.add-tag-container > button {
  border: none;
  background: none;
}

.add-tag-container > button > i {
  text-align: center;
}

.plnnerfrom-date {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  background: #fff;
  border-radius: 5%;
  box-shadow: 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.plnnerfrom-date > span {
  grid-row: 2 / 3;
  align-self: center;
  font-size: 2rem;
}

#sticker-add-btn {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: left;
  border: none;
  background: none;
  opacity: 0.5;
}

.plnnerfrom-sticker {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  justify-self: center;
  align-self: center;
  background: #fff;
  border-radius: 5%;
  box-shadow: 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.sticker-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.plnnerfrom-sticker > img {
  justify-self: center;
  align-self: center;
  grid-row: 1 / 3;
}

#each-sticker {
  margin: 5px;
  opacity: 0.8;
  width: 50px;
  cursor: pointer;
}

#each-sticker > img {
  width: 5rem;
}

#each-sticker:hover {
  opacity: 1;
}

#selected-sticker {
  width: 13rem;
  opacity: 0.8;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}

.fa-palette {
  font-size: 2rem;
  opacity: 0.5;
  cursor: pointer;
}

.fa-trash-alt {
  font-size: 2rem;
}

.plnnerfrom-memo {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-self: center;
  /* padding: 15px; */
  text-align: center;
  background: #fff;
  border-radius: 5%;
  box-shadow: 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.plnnerfrom-memo > span {
  grid-row: 2 / 4;
  margin: 0px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.plnnerfrom-memo > textarea {
  grid-row: 2 / 4;
  font-size: 1.1rem;
  padding: 5px 5px;
  font-size: 2rem;
  border-radius: 5px;
  height: 100%;
  align-self: flex-start;
  /* background: #b9b3d1; */
  border: 1px solid #d7d2e7;
  resize: none;
}

.plnnerfrom-memo > textarea:focus {
  background: #d7d2e7;
}

.memo-edit-btn {
  background: rgba(0, 0, 0, 0.247);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
  outline: none;
  border: none;
}

.plnnerfrom-hour {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  align-self: center;
  background: #fff;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.plnnerfrom-hour > span {
  grid-row: 2 / 3;
  font-size: 3rem;
  align-self: top;
  margin-top: 0;
}

.plnnerfrom-hour > h5 {
  font-size: 2rem;
  font-weight: 300;
  align-self: flex-end;
}

#add-task-modal {
  background-color: #fff;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.todobar-subject-label {
  margin: 10px 5px;
  width: 150px;
}

.back-color-picker {
  grid-row: 2 / 3;
  margin-bottom: 20px;
  align-self: center;
}

.write-a-comment {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

.back-color-picker > h4 {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

#upload-comment-container {
  grid-row: 3 / 4;
  height: 100%;
}

#upload-comment-container > .writing-comment {
  box-shadow: none;
  /* margin-top: 20px; */
}

#upload-comment-container > .writing-comment > textarea {
  padding: 0;
}

#upload-comment-container > .writing-comment > div {
  box-shadow: none;
  line-height: 17px;
}

#color-thumbnail {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  align-self: center;
  justify-self: center;
}

#color-thumbnail-modal {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: center;
  margin: 2rem 0rem;
}

.ColorPicker-makeStyles-root-3 {
  align-self: center;
  width: 200px;
}

.makeStyles-root-1::after {
  align-self: center;
  width: 200px;
}

#patterns-container {
  display: flex;
  justify-self: center;
}

.back-color-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.back-color-selection > span {
  margin: 5px 5px;
  align-self: center;
  justify-self: center;
}

.back-color-selection > span > img {
  margin: 0px 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.todobar-subject {
  outline: none;
  display: flex;
  background: #fff;
  color: #2b3390;
  border: 1px solid #2b3390;
  border-radius: 8px;
  padding: 3px 4px;
  margin-right: 5px;
  font-size: 1.5rem;
  align-self: center;
  vertical-align: middle;
  justify-content: space-between;
  cursor: pointer;
  transition: border 1s ease-in-out;
}

.subject-name {
  align-self: center;
}

.todobar-subject > button {
  align-self: center;
  background: none;
  text-align: center;
  border: none;
  outline: none;
  margin-left: 5px;
  margin-bottom: 2px;
  color: #2b3390;;
}

.select-subject {
  padding: 8px;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 7px 7px 20px 0px #35405825, 4px 4px 10px 0px #446ec91c;
}

.todobar-title-modal {
  font-size: 3rem;
  color: #335296;
  margin-left: 10px;
  align-self: center;
}

#color-pick-container > .react-colorful {
  width: 15rem;
  height: 15rem;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 35%;
  right: 15%;
  z-index: 100;
}

.select-subject > span {
  font-size: 1.8rem;
}

.back-color-selection > .react-colorful {
  width: 15rem;
  height: 15rem;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 22.5%;
  right: 13%;
  z-index: 10;
}

.subject-edit-btn {
  outline: none;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

.subject-label-group {
  display: block;
}

.select-tag-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1.5rem;
  border-radius: 10px;
}

#outlined-helperText {
  width: 20rem;
  /* padding: 5px; */
  line-height: 3%;
  font-size: 1.5rem;
  color: #335296;
}

#left-side-container > span {
  grid-row: 2 / 3;
}

.hashtags-group {
  outline: none;
  display: flex;
  color: #1d4798;
  border: 0.6px solid #1d4798;
  background-color: #fff;
  border-radius: 10px;
  margin: 3px 0px;
  padding: 2px 3px;
  margin-right: 5px;
  font-size: 1.6rem;
  flex-basis: 70%;
}

.tag-name {
  flex-basis: 70%;
  font-size: 1.2rem;
  align-self: center;
}

.hashtags-group > button {
  align-self: center;
  margin-bottom: 1.2px;
}

.todobar-todo {
  width: 100%;
  height: 70px;
}

.todobar-save-btn {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s;
  background-size: 200% auto;
  color: #fff;
  background-color: #335296;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  flex-basis: 30%;
  letter-spacing: 3px;
}

.todobar-save-btn:hover {
  color: #335296;
  background-color: #e1e2e2;
  opacity: 1;
}

.todobar-save-btn:active {
  top: 2px;
}

.make-new-label {
  width: 100%;
  display: flex;
}

.add-label-btn {
  background: none;
  border: none;
  float: right;
}

.todobar-newsubject-input {
  width: 50%;
  border-radius: 5px;
  line-height: 3rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  outline: none;
  border: 1px solid #335296;
}

.color-box {
  margin: 0;
  flex-basis: 30px;
  justify-self: center;
  width: 30px;
  height: 30px;
  justify-self: center;
}

.color-box:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

.color-radio {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  flex-basis: 25%;
  justify-self: center;
}

#outlined-multiline-static {
  font-size: 1.5rem;
}

#start-time {
  margin: 5px 5px;
}

#color-pick-container {
  display: flex;
}

#color-pick-container > span {
  align-self: center;
  font-size: 1.8rem;
  margin-right: 2rem;
}

#edit-modal-container > form {
  align-self: center;
  width: 100%;
  padding: 3rem 3rem;
  border-radius: 10px;
  box-shadow: 7px 7px 20px 0px #35405825, 4px 4px 10px 0px #446ec91c;
}

#end-time {
  margin: 5px 5px;
}

.fa-ellipsis-h {
  font-size: 1.3rem;
  color: #2b3390;
}

.add-todo-btn {
  float: right;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  border: none;
}

.add-todo-btn:hover {
  color: #1d4798;
  border: none;
  transition: all 0.6s;
}

.add-todo-btn:hover:active {
  margin-top: -3px;
  transition: all 0.6s;
}

#todo-modal-upper {
  display: flex;
  width: 100%;
  /* height: 50%; */
}

.modal-btn-container {
  text-align: center;
  margin-top: 6rem;
  display: flex;
  align-self: flex-start;
  /* width: 100%; */
  /* padding: 0rem 5rem; */
}

.todobar-title {
  flex-basis: 90%;
  font-size: 2rem;
  margin-left: 5px;
}

.close-add-btn {
  width: 2rem;
  flex-basis: 10%;
  background: none;
  border: none;
  justify-self: right;
  align-self: center;
}

.fa-plus-circle {
  font-size: 2rem;
  margin-right: 15px;
}

.fa-stopwatch {
  margin-right: 5px;
  font-size: 2rem;
}

.todo-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

.todo-delete-btn {
  float: right;
  background: none;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  position: absolute;
  top: 6.5%;
  right: 5%;
}

.fa-trash-alt {
  font-size: 2.2rem;
  color: #335296;
}

#start-time {
  font-size: 1.5rem;
  margin-right: 2rem;
}

#start-time-label {
  font-size: 1.5rem;
}

#end-time {
  font-size: 1.5rem;
}

#end-time-label {
  font-size: 1.5rem;
}

.todo-edit-btn {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  /* flex-basis: 50%; */
  background: none;
  border: none;
  outline: none;
}

.empty-list-message {
  font-size: 2rem;
  text-align: center;
}

.empty-box-img {
  margin-top: 22%;
  width: 150px;
  height: 150px;
  margin-left: 40%;
}

.todo-checkbox {
  margin: 10px 10px;
}

.memo-edit-btn {
  width: 2.4rem;
  background: #fff;
  height: 2.4rem;
  justify-self: right;
  margin-top: 5px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.247);
}

.memo-edit-btn:hover {
  transform: translateY(-5px);
  border: 1px solid rgba(0, 0, 0, 0.247);
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.memo-edit-input {
  outline: none;
  border: none;
  height: 100%;
  margin: 0px 10px;
}

.writing-comment {
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-top: 3rem;
}

.writing-comment > div {
  line-height: 17px;
}

.writing-comment > textarea {
  padding: 1px;
  font-size: 1.5rem;
  line-height: 30px;
  border: none;
  outline: none;
}

.color-label {
  flex-basis: 15%;
  border-radius: 3px;
}

.todobox-content {
  padding: 10px 15px;
  flex-basis: 90%;
  align-self: center;
}

.selected {
  background: #335296;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 3px 5px;
  margin-right: 5px;
  transition: all 1s ease-in-out;
}

.selected-tag {
  background-color: #2b3390;
  transition: all 0.6s;
  color: #fff;
}

.selected-color {
  border-radius: 50%;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* animation */
@keyframes fadeIn {
  from {
    margin-top: -10px;
    opacity: 0;
  }
  to {
    margin-top: 5px;
    opacity: 1;
  }
}

@keyframes fadeInMessage {
  from {
    margin-top: 40%;
    opacity: 0;
  }
  to {
    margin-top: 45%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    margin-top: 5px;
    opacity: 1;
  }
  to {
    margin-top: -5px;
    opacity: 0;
  }
}

@media all and (max-width: 1300px) {
  html {
    font-size: 10px;
  }
  #custom-planner-container {
    grid-template-columns: auto;
    align-self: center;
  }
  .plnnerfrom-date > span {
    font-size: 1.5rem;
  }
  .side-txt {
    display: none;
  }
  #planner-view {
    grid-column: 1/6;
    grid-row: 2/8;
    border: none;
  }
  #custom-bar {
    grid-row: 2/ 8;
  } 
  .back-color-selection {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .back-color-selection > span > img {
    width: 3rem;
  }
  #color-thumbnail {
    width: 3rem;
    height: 3rem;
  }
  #selected-sticker {
    width: 10rem;
  }
  #upload-comment-container {
    width: 78%;
    height: 50%;
  }
  .plnnerfrom-hour > h5 {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 1023px) {
  html {
    font-size: 10px;

  }
  .side-txt {
    display: none;
  }
  #planner-view {
    grid-column: 1/8;
    grid-row: 2 / 8;
    overflow-y: scroll;
    border: none;
    overflow: hidden;
  }
  #custom-bar {
    visibility: hidden;
  } 
  #upload-btn {
    visibility: visible;
    position: absolute;
    bottom: 6%;
    right: 3rem;
  }
}

@media all and (max-width: 767px) {
  html {
    font-size: 8px;
    overflow-y: hidden;
  }
  #custom-planner-container {
    border: none;
  }
  #planner-view {
    width: 100vw;
    /* margin: 80px 0; */
    border: none;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.1fr 0.1fr 50vh;
    
  }
  .plnnerfrom-hour {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .plnnerfrom-sticker {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #todo-veiw-container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  #upload-btn {
    visibility: visible;
    position: absolute;
    bottom: 3%;
    font-size: 1.2rem;
    right: 3rem;
  }
}
