@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;400&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  font-size: 10px;
  letter-spacing: 1.2px;
  box-sizing: content-box;
}

#root {
  display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 60px 0.5fr repeat(4, 1fr) 100px;
  column-gap: 15px;
}

button {
  cursor: pointer;
}

#nav-container {
  position: fixed;
  display: flex;
  z-index: 100;
  width: 100%;
  background: none;
  align-self: flex-end;
  transition: opacity 1s;
}

#nav-logo {
  font-family: 'KoHo', sans-serif;
  justify-self: left;
  margin-left: 100px;
  flex-basis: 50%;
}

#nav-btn-container {
  flex-basis: 50%;
  justify-self: end;
  text-align: right;
  align-self: center;
  float: right;
  margin-right: 100px;
}

#footer {
  grid-column: 1 / 8;
  grid-row: 8;
  border: 1px solid black;
  margin-top: 30px;
}

.main-nav {
  margin-left: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #424242;
  background: none;
}

.landing-btn {
  font-family: 'KoHo', sans-serif;
  font-size: 1.5rem;
  background-color: none;
  background: none;
  outline: none;
  border: none;
  margin-left: 1rem;
}

.hidden {
  opacity: 0;
}

@keyframes open-modal-login {
  from {
    opacity: 0;
    margin: -190px 0px 0 -250px;
  }
  to {
    opacity: 1;
    margin: -175px 0 0 -250px;
  }
}

@media all and (max-width:767px) {
  #nav-container {
    background-color: cadetblue;
  }
}